## 准备

In [ ]:
%load_ext sql

In [48]:
%sql mysql://root:123456@localhost

## 数据库

1. 创建数据库

>create database 数据库名;

创建test1数据库

In [ ]:
%%sql
create database test1;

2. 显示创建的数据库

>show databases;

In [ ]:
%%sql
show databases;

3. 选择数据库

>use 数据库名;

选择test1数据库

In [ ]:
%%sql
use test1;

## 数据库表

1. 创建数据库表

>create table 表名(数据);

创建一个名为students的表，表中包含学号id(int类型，非空，自加，主键)，姓名name，年龄age，电话tel

In [ ]:
%%sql
create table students(
    id int not null auto_increment primary key,
    name varchar(10) not null,
    age int,
    tel varchar(11));

2. 显示创建的表

>show tables;

In [ ]:
%%sql
show tables;

3. 显示创建的表的具体信息

>desc 表名;

显示创建的students表的具体信息

In [ ]:
%%sql
desc students;

4. 向表中添加数据

>insert into 表名 (列名1,列名2,……) values (对应列的数据);

添加叶戈尔同学的数据

In [ ]:
%%sql
insert into students (id,name,age,tel) values (1145,'Yegor',24,'11451419198');

5. 查询表信息

>select * from 表名;
<br>或者
<br>select * from 表名\G;

In [ ]:
%%sql
select * from students;

6. 更新表中的数据

>update 表名 set 列名=新值 where 条件;

更新叶戈尔同学的名字为先辈

In [ ]:
%%sql
update students set name='Senpai' where name='Yegor';

7. 修改表之添加一列

>alter table 表名 add 列名 类型;

添加一列地址addr

In [ ]:
%%sql
alter table students add addr varchar(10);

8. 修改表之更改列名

>alter table 表名 change 列名 新名 类型;

更改列名id为ordinal

In [ ]:
%%sql
alter table students change id ordinal int;

9. 修改表之删除某列

>alter table 表名 drop 列名;

删除tel列

In [ ]:
%%sql
alter table students drop tel;

10. 删除表中的数据

>delete from 表名 where 条件;

删除学号为114514的数据

In [ ]:
%%sql
delete from students where ordinal='114514';

11. 重命名整张表

>rename table 表名 to 新名;

重命名students表为teens

In [ ]:
%%sql
rename table students to teens;

12. 删除整张表

>drop table 表名;

删除teens表

In [ ]:
%%sql
drop table teens;

13. 删除整个数据库

>drop database 数据库名;

删除test1数据库

In [ ]:
%%sql
drop database test1;

14. 创建模式

>create schema 模式名;

新建newschema模式

In [ ]:
%%sql
create schema newschema;

15. 显示模式

>show schemas;

In [ ]:
%%sql
show schemas;

16. 删除模式

>drop schema 模式名;

删除newschema模式

In [ ]:
%%sql
drop schema newschema;